img {
    margin-bottom: 1em;
}

h2 a,
h2 a:hover,
h2 a:active,
h2 a:visited,
h1 a,
h1 a:hover,
h1 a:active,
h1 a:visited {
    color: black;
    text-decoration: none;
}
.span1 {
    white-space: nowrap;
}

#license {
    border-top: 1px solid gray;
    padding-top: 1em;
    text-align: center;
}

#databasediagram {
    width: 100%;
}
